{% extends 'admin/index.html' %} {% block body %} {% load static %}
<!-- Carousel Start -->
<div class="mt-5 container-fluid p-5 w-75 h-75 mb-5">
  <div class="owl-carousel header-carousel position-relative">
    <div class="owl-carousel-item position-relative">
      <img src="{% static 'pic/695.jpg' %}" height="100%" alt="" />
    </div>
    <div class="owl-carousel-item position-relative">
      <img src="{% static 'pic/15255.jpg' %}" height="100%" alt="" />
    </div>
  </div>
</div>
<!-- Carousel End -->

<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
  ><i class="bi bi-arrow-up"></i
></a>

{% endblock %}
