{% extends 'admin/index.html' %}
{% block body %}


    <h2 class="heading-bar p-2 text-center">Registered Shops</h2>
    <form action="" method="get">
        <div class="business2 card-group">
            {% for i in data %}
                <div class="front" style="min-width: 270px !important;">
                    <div>
                        <img src="{{ i.photo.url }}" width="270px" height="190px" alt="product_img">
                    </div>
                    <div class="avatar" style="top: 180px !important;">
                        <p>{{ i.name }}</p>
                    </div>
                    <div class="infos">
                        <div>
                            <i class="fa-solid fa-phone text-center"></i>
                            <div>
                                <p>{{ i.phone_number }}</p>
                            </div>
                        </div>
                        <div>
                            <i class="fa-solid fa-envelope text-center"></i>
                            <div>
                                <p>{{ i.email }}</p>
                            </div>
                        </div>
                        <div>
                            <i class="fa-solid fa-location-dot text-center"></i>
                            <div class="text-uppercase">
                                <p class="mt-2">{{ i.place }}
                                <p class="mt-0">{{ i.post }}, {{ i.pin }}</p>
                            </div>
                        </div>
                        <div class="ad-icons mt-2">
                            <a href="/approve/{{ i.shop_id_id }}"
                               class="tm-product-edit-link fa-solid fa-check tm-product-edit-icon" title="Approve">
                            </a>
                            <a href="/reject/{{ i.shop_id_id }}"
                               class="tm-product-delete-link fa-solid fa-x tm-product-delete-icon"
                               title="Reject" onclick="return confirm('Confirm to reject this shop?',)">
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {#        <div class="container mt-5">#}
        {#            <div class="tm-product-table-container">#}
        {#                <table id="table" class="table table-striped tm-table-small tm-product-table">#}
        {#                    <thead>#}
        {#                    <tr>#}
        {#                        <th scope="col">#</th>#}
        {#                        <th scope="col">Name</th>#}
        {#                        <th scope="col">Place</th>#}
        {#                        <th scope="col">Address</th>#}
        {#                        <th scope="col">Email</th>#}
        {#                        <th scope="col">Phone Number</th>#}
        {#                        <th scope="col">Status</th>#}
        {#                    </tr>#}
        {#                    </thead>#}
        {#                    <tbody>#}
        {#                    {% for i in data %}#}
        {#                        <tr>#}
        {#                            <th scope="col">{{ forloop.counter }}</th>#}
        {#                            <th scope="col">{{ i.name }}</th>#}
        {#                            <th scope="col">{{ i.place }}</th>#}
        {#                            <th scope="col">{{ i.post }},{{ i.pin }}</th>#}
        {#                            <th scope="col">{{ i.email }}</th>#}
        {#                            <th scope="col">{{ i.phone_number }}</th>#}
        {#                            <th class="edit-buttons">#}
        {#                                <a href="/approve/{{ i.shop_id_id }}"#}
        {#                                   class="tm-product-edit-link" title="Approve">#}
        {#                                    <i class="fa-solid fa-check tm-product-edit-icon"></i>#}
        {#                                </a>#}
        {#                                <a href="/reject/{{ i.shop_id_id }}"#}
        {#                                   class="mt-1 tm-product-delete-link"#}
        {#                                   title="Reject" onclick="return confirm('Confirm to reject this shop?',)">#}
        {#                                    <i class="fa-solid fa-x tm-product-delete-icon"></i>#}
        {#                                </a>#}
        {#                            </th>#}
        {#                        </tr>#}
        {#                    {% endfor %}#}
        {#                    </tbody>#}
        {#                </table>#}
        {#            </div>#}
        {#        </div>#}
    </form>

{% endblock %}