*, *:before, *:after {
    box-sizing: border-box;
}


body {
    /*background: linear-gradient(90deg, #b7f8db 0%, #50a7c2 100%);*/
    /*background: linear-gradient(135deg, #009eab 25%, transparent 25%) -100px 0/ 200px 200px, linear-gradient(225deg, rgba(0, 158, 171, 0.5) 25%, transparent 25%) -100px 0/ 200px 200px, linear-gradient(315deg, #009eab 25%, transparent 25%) 0 0/ 200px 200px, linear-gradient(45deg, rgba(0, 158, 171, 0.5) 25%, #00bed0 25%) 0 0/ 200px 200px;*/
    /*background-color: #00bed0;*/
    background-image: linear-gradient(to right top, #00dbe1, #00cfd7, #00c4cd, #00b8c3, #00adb9, #00a2ae, #0098a4, #008d99, #00818c, #00757f, #006972, #005d66);
    min-height: 50%;
    margin: 0;
    padding: 0;
    /*background-size: cover !important;*/
    /*background-repeat: no-repeat !important;*/
}

#form {
    background: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(5px);
    border: 0 solid rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    -webkit-box-shadow: 6px 6px 25px -10px #000000;
    -moz-box-shadow: 6px 6px 25px -10px #000000;
    box-shadow: 6px 6px 25px -10px #000000;
}

form {
    background: none;
    max-width: 310px !important;
    height: 245px !important;
    margin: 12% auto auto auto !important;
    text-align: center !important;
}

.me-2 a {
    color: #005d66;
    font-size: 10px;
    float: right;
}

.mt-1 a {
    font: 13px Ubuntu;
    color: #005d66;
}

div a:hover {
    color: black;
    text-decoration: underline;
}

::placeholder {
    font-weight: lighter;
    letter-spacing: 1.5px;
    font-size: 14px;
    color: rgb(203, 203, 203) !important;
}

input[type="checkbox"] {
    accent-color: #009eab;
}

input[type="email"], input[type="password"] {
    border-radius: 10px;
    color: white !important;
    height: 60px;
    width: 100%;
}


.container3 button {
    letter-spacing: 1.5px;
    height: 100%;
    width: 40%;
    border: 0;
    border-radius: 10px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    background: #00373e;
    text-align: center;
    max-height: 30px;
    transition: all 0.5s ease;
}

.container3 button:hover {
    background: #009eab;
    color: #00373e;
}