{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'home/css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'home/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'home/css/login.css' %}">

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Login Page</title>
    <script src="{% static 'home/js/bootstrap.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>

    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link href="{% static 'favicon/favicon.ico' %}" rel="icon">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body>

{% for message in messages %}

    <div id="alert-msg" class="m-0 alert {{ message.tags }} alert-success alert-dismissible fade show" role="alert">
        <strong class="d-flex flex-row justify-content-center">{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{% endfor %}
<div class="container-fluid">
    <form action="" method="post">
        {% csrf_token %}

        <h2 class="m-3"><img src="{% static 'pic/customer/img.png' %}" alt="logo" class="" width="180" height="50"></h2>
        <div id="form" class="form-control pt-3 p-4 border-0">
            <div class="p-auto input-group mt-4">
                <label for="email" class="p-auto input-group-text bi bi-person-fill border-0"
                       style="max-width: 45px; height: 40px; color: white; background: #009eab; border-radius: 10px 0 0 10px;"></label>
                <input id="email" class="form-control border-0" type="email" name="email" placeholder="Email"
                       style="height: 40px; background: #005d66;">
            </div>
            <div class="p-auto input-group mt-2">
                <label for="password" class="p-auto input-group-text bi bi-lock-fill border-0"
                       style="max-width: 45px;height: 40px; color: white; background: #009eab;border-radius: 10px 0 0 10px;"></label>
                <input id="password" class="form-control border-0" type="password" name="password"
                       placeholder="Password"
                       style="height: 40px; background: #005d66;">
            </div>
            <div class="d-inline-block float-start">
                <div class="input-group ms-1" style="margin-top: 12px;float: left;">
                    <input id="remember" class="form-check" type="checkbox" name="remember">
                    <label for="remember" class=" ms-1 my-1 mx-1"
                           style="letter-spacing: 0.02rem; font-size: 10px;color: rgb(57, 73, 98);">Remember me</label>
                </div>
            </div>
            <div class="me-2" style="margin-top: 15px;">
                <a href="/forgot_pass" style="letter-spacing: 0.02rem;">Forgot Password?</a>
            </div>
            <br>
            <div class="mt-1 container3">
                <button class="border-1 mb-2" type="submit">LOGIN</button>
                <br>
                <i style="font-size: small">Don't have an account?</i>
                <a href='/register'>Sign Up</a>
            </div>
        </div>
    </form>
</div>

<script>
    const message_ele = document.getElementById("alert-msg");

    setTimeout(function () {
        message_ele.style.display = "none";
    }, 3000);

    // typing text animation script
    let typed = new Typed(".typing", {
        strings: ["Welcome To Emart Online Shopping", "The Most Reliable Platform", "Login or Signup Below"],
        typeSpeed: 45,
        backSpeed: 10,
        loop: false
    });
</script>
</body>
</html>